table.center {
    margin-left: auto; 
    margin-right: auto;
}

.title {
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.statuses {
    height: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
