.container {
    height: 500px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    pointer-events: none;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
    margin: auto;
}

.overlay {  
    z-index: 1;
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

.main {
    z-index: 0;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

.bottom-left {
    height: 500px;
    width: 700px;
    z-index: 2;
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.bottom-right {
    height: 500px;
    width: 700px;
    z-index: 2;
    position: absolute;
    bottom: 8px;
    right: 16px;
}
