.container {
    position: relative;
    height: 50vh;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
    margin: auto;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    -webkit-transform: translateY(-50%) translateX(-50%);
}

.main {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    -webkit-transform: translateY(-50%) translateX(-50%);
}

.bottom-left {
    height: 500px;
    width: 700px;
    z-index: 2;
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.bottom-right {
    height: 500px;
    width: 700px;
    z-index: 2;
    position: absolute;
    bottom: 8px;
    right: 16px;
}
